*{
margin: 0px;
padding: 0px;
}

body {
	background:url("a12/a17.jpg") repeat-x;
	font: 110%;
	color: #00fffb;
}

#con{
	margin: 0 auto;
	background:#fff;
	width:1000px;
	text-align:center;
	height: 500px;
}

#menu{
	display:flex;
	justify-content:space-between;
	width:100%;
	background: url("a12/a19.jpg");
}

#menu div{
	width:100px;
	height:55px;
}

#menu a{
	color:red;
	display: block;
	text-align: center;
	text-decoration: none;
	padding-top: 15px;
}

#logo{
	padding-top:2%;
	padding-right:0%;
	color:black;
}
#logo h1{
	padding-left:30%;
	font-size:500%;
	
}

#right{
	float:left;
	width:600px;
	padding-left: 10%;
}



